body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pdf-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    max-width: 70vw;
    align-items: center;
}

canvas {
    box-shadow: 0 0.5vh 1vh rgba(0,0,0,0.1);
    background-color: white;
    width: 100%;
    height: auto;
}
